
.article__meta {
    padding: 20px;
   }
   
   .back-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   }
   
   .back-button {
    text-align: center;
    margin-inline: auto;
    background-color: #5f7edb;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, transform 0.2s ease-in-out;
   }
   
   .back-button:hover {
    background-color: #1c288f;
    transform: scale(1.05);
   }
