/* footer {
	text-align: center;
	background: linear-gradient(to right, #4a90e2, #113db7);
	color: rgb(225, 227, 242);
	padding: 10px;
	font-size: 16px;
}

.social-icons {
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
}

.social-icons__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ddd;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    transition: 0.3s;
    border: rgb(225, 227, 242) 1px solid;
}

.social-icons__icon--facebook {
    background-color: #1877f2;
}

.social-icons__icon--instagram {
    background: linear-gradient(45deg,
            #feda75,
            #fa7e1e,
            #d62976,
            #962fbf,
            #4f5bd5);
}

.social-icons__icon--youtube {
    background-color: #ff0000;
}

.social-icons__icon:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
} */

/* Styles moved from style.css */
footer {
    text-align: center;
    background: linear-gradient(to right, #4a90e2, #113db7);
    color: rgb(212, 215, 241);
    padding: 12px;
    font-size: 18px;
}

.social-icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.social-icons__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-decoration: none;
    font-size: 24px;
    color: #fff;
    transition: 0.3s;
    border: rgb(225, 227, 242) 1px solid;
}

.social-icons__icon--facebook {
    background-color: #1877f2;
}

.social-icons__icon--instagram {
    background: linear-gradient(45deg,
            #feda75,
            #fa7e1e,
            #d62976,
            #962fbf,
            #4f5bd5);
}

.social-icons__icon--youtube {
    background-color: #ff0000;
}

.social-icons__icon:hover {
    transform: scale(1.1);
    filter: brightness(0.8);
}
