.gallery--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.gallery-item {
    background: #fff;
    box-shadow: var(--shadow-2);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.05);
}

.caption {
    padding: 10px;
}

.caption a {
    text-decoration: none;
    color: #3158bb;
    font-weight: bold;
    display: inline-block;
    transition: color 0.3s;
}

.caption a:hover {
    color: #6d81b4;
}

.gallery-item img {
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.05);
}
