.main--obleceni {
    text-align: center;
   }
   
   .main--obleceni__download {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin: 5px auto;
   }
   
   .katalog {
    width: 40%;
   }
   
  .main--obleceni__download:hover {
    background-color: #0056b3;
  }
