
.onas__text {
    text-align: justify;
   }
   
   .image--osvedceni,
   .image--onas  {
    margin: 30px auto;
   }
   
   .onas {
    padding: 0 20px;
   }
   
   .image--osvedceni {
    max-width: 400px;
   }
   
   .image--onas  {
    width: 80%;
    max-width: 300px;
   }
   
   @media (min-width: 680px) {
    .onas {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 20px;
    }
   
    .image--onas {
     max-width: 280px;
     flex: 0 1 280px;
    }
   }
