---
layout: layouts/stranka.njk
title: Galerie
---

<h1>Galerie Ballet Prima Pardubice</h1>
<div class="gallery">
    {% for prispevek in collections.balet_years | reverse %}
    <div class="gallery-item">
        {% if prispevek.data.images and prispevek.data.images.length > 0 %}
        <img src="{{ prispevek.data.images[0].src }}" alt="{{ prispevek.data.images[0].alt }}">
        {% else %}
        <img src="/images/default-placeholder.jpg" alt="No image available">
        {% endif %}
        <div class="caption">
            <a href="{{ prispevek.url }}">{{prispevek.data.title}}</a>
        </div>
    </div>
    {% endfor %}
</div>
