<section>
  <h3>
    Nabízíme lekce pro děti i dospělé, pro úplné začátečníky i pro pokročilé.
  </h3>
  <h4>Děti:</h4>
   <p>V přípravné skupině, která je určena pro děti od 4 let věku, se děti
  seznamují se základy baletu a klasického tance. V této fázi si děti vyzkouší,
  jaké mají předpoklady pro balet a jak může tento umělecký tanec obohatit
  jejich pohybovou a rytmickou stránku. S rozvojem věku a zkušeností si starší
  děti prohlubují smysl pro hudbu, rytmus, pohybovou výrazovost a estetiku tance
  prostřednictvím choreografií a tanečních čísel. Zápis do lekcí klasického
  baletu dětí se koná v září, termín konání je upřesněný na těchto stránkách na
  začátku září.</p>
  <h4> Dospělí:</h4> 
  <p>V naší škole vítáme i dospělé, a to bez ohledu na věk
  či předchozí taneční zkušenosti. Balet je skvělý způsob, jak formovat tělo,
  zlepšit pohybovou koordinaci a seznámit se s krásou taneční choreografie.
  Můžete začít s baletními základy a postupně si osvojit i složitější čísla z
  klasických baletních děl, což vám umožní prožít pohyb zcela novým způsobem,
  odlišným od tradičního fitness cvičení. Přihlásit se můžete v průběhu celého
  roku.</p>
  <h3>Povinná výbava</h3>
  <p>
    Každý žák musí mít na lekci vhodný taneční úbor, který umožní volný a
    elegantní pohyb.
  </p>
  <p>
    Pro některé skupiny žáků může být určené jednotné oblečení na veřejná
    vystoupení, nebo i na trénink. Jednotné oblečení bude k zakoupení i ve
    škole.
  </p>

  {% set vybava = {         
    "👧 Dívky": [            
    "Trikot", 
    "Sukýnku", 
    "Baletní punčocháče",
      "Taneční obuv (růžové piškoty)" 
      ], 
      "👦 Chlapci": [ 
        "Bílý nátělník",
        "Tříčtvrteční elastické kalhoty", 
        "Taneční obuv – černé piškoty" 
        ], 
        "👦👧 Dospělí": [ 
        "Dle vlastního výběru, s respektem k požadavkům na taneční tréninkové oblečení.",
        "Na úplný začátek na cvičení stačí triko a legíny, nebo podobné, raději upnuté sportovní oblečení a na nohy ponožky. Baletní oblečení a obuv můžete potom zakoupit v naší škole, pokud budete mít zájem.", 
        "Pro některé skupiny žáků může být určené jednotné oblečení na veřejná vystoupení, nebo i na trénink. Jednotné oblečení bude k zakoupení i ve škole." 
        ]
        } %} 
  {% for title, items in vybava %}
  <h4>{{ title }}</h4>
  <ul>
    {% for item in items %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>
  {% endfor %}

  <h4>
    Součástí celkového vzhledu je také úhledný účes, který zajistí pohodlí při
    tanci – například drdůlek, cop či jiný upravený účes.
  </h4>

  <p>
    Upozorňujeme, že výuka baletu, zejména starších skupin, je fyzicky náročná a
    srovnatelná s intenzivním sportovním výkonem.</p>
     <p>Abychom zajistili co nejlepší
    podmínky pro soustředění a rozvoj našich žáků, žádáme rodiče, aby svou
    přítomností na hodinách nerušili jejich koncentraci.</p> 
    <p>Termíny ukázkových
    hodin budou včas oznámeny, abyste měli možnost vidět pokrok svých dětí.</p>
    <p>Pokud bude dítě zařazeno do nácviku na představení či soutěž, bude možné po
    dohodě navštěvovat mimořádné zkoušky. Děkujeme za pochopení a podporu.</p> 
    <p>Výuka
    probíhá v kolektivu, pro zdárný průběh výuky je nezbytná disciplína všech
    žáků. Organizační i další informace jsou předávány prostřednictvím
    skupinového chatu v aplikaci WhatsApp.
  </p>

  {% set images = [ 
    { src: "/images/costumes.jpg", alt: "dite" },
    { src: "/images/bluetwo.jpg", alt: "trikot" },
    { src: "/images/costumesred.jpg", alt: "dite" },
    { src: "/images/blueone.jpg", alt: "dite" }
   ] %}

  <div class="dulezite">
    {% for image in images %}
    <div class="dulezite__img">
      <img class="image image--block image--tablet" src="{{ image.src }}" alt="{{ image.alt }}">
      
    </div>
    {% endfor %}
  </div>
</section>
