<section class="schedule">
    <h3>Rozvrh hodin</h3>
    <p>Změna rozvrhu bude po dohodě možná v případě, že většině ve skupině nebude plánovaný čas vyhovovat.</p>
    <img class="image image--block image--shadow-2 image--tablet schedule__img" src="/images/Rozvrh_2025.jpeg" alt="rozvrh">
</section>
