<section class="schedule">
    <h3>Rozvrh hodin</h3>
    <p>Změna rozvrhu bude po dohodě možná v případě, že většině ve skupině nebude plánovaný čas vyhovovat.</p>
    <img src="/images/rozvrh.png" alt="rozvrh">
</section>
