<footer class="bottom">
    <div class="social-icons">
        <a href="https://www.facebook.com/share/15iDymbB1U/?mibextid=wwXIfr" target="_blank" class="icon facebook">
            <i class="fa-brands fa-facebook-f"></i>
        </a>
        <a
            href="https://www.instagram.com/balletprimapardubice?igsh=MWp1dGtmNjc2d3I4dQ%3D%3D&utm_source=qr"
            target="_blank"
            class="icon instagram">
            <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://youtube.com/@balletprimapardubice1757?si=RepLqaMMji1dMrkt" target="_blank" class="icon youtube">
            <i class="fa-brands fa-youtube"></i>
        </a>
    </div>
    <p>• Všechna práva vyhrazena • ©2011-2025 Ballet Prima - Russian Ballet Pardubice •</p>
</footer>
