<footer class="bottom">
    <div class="social-icons">
        {% set socialLinks = [
            { url: "facebook.com/share/15iDymbB1U/?mibextid=wwXIfr", icon: "fa-facebook-f", class: "facebook" },
            { url: "instagram.com/balletprimapardubice?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==", icon: "fa-instagram", class: "instagram" },
            { url: "youtube.com/@balletprimapardubice1757", icon: "fa-youtube", class: "youtube" }
        ] %}
        {% for link in socialLinks %}
            <a href="https://www.{{ link.url }}" target="_blank" class="icon {{ link.class }}">
                <i class="fa-brands {{ link.icon }}"></i>
            </a>
        {% endfor %}
    </div>
    <p>• Všechna práva vyhrazena • ©2011-2025 Ballet Prima - Russian Ballet Pardubice •</p>
</footer>
