<header>
    <div class="banner">
        <h1>Ballet Prima</h1>
        <div class="panorama">
            <img class="panorama__image" src="/images/perfectpanorama.jpg" alt="pano">
            <p class="panorama__heading">Ballet School Pardubice</p>
            <div class="panorama__logo ">
                <img class="logo-prima" src="/images/ballet_prima_logopng.png" alt="logo-prima">
                <img class="logo-pardubice " src="/images/Zijeme_kulturou_nejmensi.jpg" alt="logo-pardubice ">
            </div>
        </div>
    </div>
    {% include "partials/menu.njk" %}
</header>
