<header>
    <div class="banner">
        <h1>Ballet Prima</h1>
        <div class="panorama-container">
            <div class="panorama-wrapper">
                <img class="panorama" src="/images/perfectpanorama.jpg" alt="pano">
                <p class="bannertext">Ballet School Pardubice</p>
                <div class="logo-wrapper">
                    <img class="logolittle" src="/images/ballet_prima_logopng.png" alt="logolittle">
                    <img class="logo" src="/images/Zijeme_kulturou_nejmensi.jpg" alt="logo">
                </div>
            </div>
        </div>
    </div>
    {% include "partials/menu.njk" %}
</header>
