<header>
    <div class="logo-container ">
        <img class="logo-ballero" src="/images/Ballero_Pristina_font_transparent_white.svg" alt="logo-ballero">
        <img class="logo-prima" src="/images/balet_Prima_White.svg" alt="logo-prima">
        <img class="logo-pardubice " src="/images/Zijeme_kulturou_nejmensi.jpg" alt="logo-pardubice ">
    </div>
    <div class="banner">
        <div class="panorama">
            <img class="panorama__image" src="/images/perfectpanorama.jpg" alt="pano">
            <h1 class="panorama__heading">Ballet School Pardubice</h1>
        </div>
    </div>
    {% include "partials/menu.njk" %}
</header>

{# <header>
    <div class="banner">
        <h1>Ballet Prima</h1>
        <div class="panorama">
            <img class="panorama__image" src="/images/perfectpanorama.jpg" alt="pano">
            <p class="panorama__heading">Ballet School Pardubice</p>
            <div class="panorama__logo ">
                <img class="logo-prima" src="/images/ballet_prima_logopng.png" alt="logo-prima">
                <img class="logo-pardubice " src="/images/Zijeme_kulturou_nejmensi.jpg" alt="logo-pardubice ">
            </div>
        </div>
    </div>
    {% include "partials/menu.njk" %}
</header> #}
