{% block head %}
    <link rel="stylesheet" href="/css/tabs.css">
{% endblock %}

{% set tabs = [
    { id: "tab1", label: "Rozvrh hodin", content: "partials/tabs-sections/rozvrh.njk" },
    { id: "tab2", label: "Před začatkem", content: "partials/tabs-sections/details.njk" },
    { id: "tab3", label: "Ceník", content: "partials/tabs-sections/cennik.njk" }
] %}

<div class="tabs">
    {% for tab in tabs %}
        <input class="tabs__input" type="radio" id="{{ tab.id }}" name="tab-group" {% if loop.first %}checked="checked"{% endif %}>
        <label class="tabs__label" for="{{ tab.id }}">{{ tab.label }}</label>
    {% endfor %}

    {% for tab in tabs %}
        <div class="tab__content" id="content{{ loop.index }}">
            {% include tab.content %}
        </div>
    {% endfor %}
</div>
