{% block head %}
    <link rel="stylesheet" href="/css/tabs.css">
{% endblock %}
<div class="tabs">
    <input class="tabs__input" type="radio" id="tab1" name="tab-group" checked="checked">
        <label class="tabs__label" for="tab1">Rozvrh hodin</label>
        <input class="tabs__input" type="radio" id="tab2" name="tab-group">
            <label class="tabs__label" for="tab2">Před začatkem</label>
            <input class="tabs__input" type="radio" id="tab3" name="tab-group">
                <label class="tabs__label" for="tab3">Ceník</label>
                <div class="tab-content" id="content1">
                    {% include "partials/tabs-sections/rozvrh.njk" %}
                </div>
                <div class="tab-content" id="content2">
                    {% include "partials/tabs-sections/details.njk" %}
                </div>
                <div class="tab-content" id="content3">
                    {% include "partials/tabs-sections/cennik.njk" %}
                </div>
            </div>
