---
layout: layouts/hlavni-sablona.njk
title: Galerie
---

{% include 'partials/header.njk' %}
<main {% if mainClass %} class="{{ mainClass }}" {% endif %}>
    {% include 'partials/fotogalerie.njk' %}
</main>
{# date: 2021-04-13T16:30#}
{% include 'partials/footer.njk' %}
